body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #4A752C;
    color: #ffffff;
    overflow: hidden;
}

canvas {
    /* border: 10px solid #578a34; */
    margin: auto;
}

header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
}

header div {
    margin-top: 5px;
    font-size: 20px;
}

#boardWidth {
    width: 40px;
}

.canvas-container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}